/*h1 {
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

img {
    margin-left: auto;
    margin-right: auto;
    float: left;
}

body {
    background-color: lightgray;
}

section, aside {
    background-color: white;
    position: relative;
    left: 25px;
    right: 25px;
    top: 15px;
    bottom: 7px;
    width: 95%;
    float: left;
}

h1, h2, h3, img, p {
    margin-left: 25px;
    margin-right: 25px;
}

.plot img {
    width: 35%;
}

aside {
    margin-left: 5%;
}

}*/

body {
    background-color: lightgray;
}

h1, h2, h3 {
    color: darkblue;
    padding-top: 3%;
    padding-bottom: 5%;
}

#summary img {
    float: left;
}

#visualizations img {
    width: 200px;
    height: 170px;
}

#visualizations, #Summary {
    background-color: white;
    float: left;
}

.col-md-12 {
    background-color: white;
}

p {
    color: rgb(110, 110, 110);
    font-size: 18px;
}

.navbar {
    background-color: white;
}

.navbar-header {
    background: darkblue;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.plot img {
    width: 35%;
}





